{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="" class="brand-link">MAG Clinic System</a>

  <!-- Sidebar -->
  <div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-home"></i>
            <p>
              Home
            </p>
          </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-user"></i>
              <p>
                Profile
              </p>
            </a>
          </li>
        <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Doctors
              </p>
            </a>
          </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Staffs
            </p>
          </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-bed"></i>
              <p>
                Patients
              </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
                Medicines
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-bars"></i>
                  <p>
                    Sessions
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="nav-icon fas fa-bars"></i>
                  <p>
                    Terms
                    <i class="right"></i>
                  </p>
                </a>
              </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas nav-icon fas fa-building"></i>
              <p>
                Departments
              </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas nav-icon fas fa-clipboard"></i>
              <p>
                Pre Lab Tests
              </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Patients in Waiting
              </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-money-bill-alt"></i>
              <p>
                Expensive
              </p>
            </a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">
            <i class="nav-icon fas fa-cog"></i>
            <p>
              Settings
            </p>
          </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                Logout
              </p>
            </a>
          </li>


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
